@model string[,]
@{
    ViewBag.Title = "Welcome";
}

<h4>This is a .Net MVC 5.0 Program to pull the most starred repositories from Github </h4>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Repository</th>
            <th>Stars</th>
            <th>Link</th>
            <th>Author</th>
            <th>Created at</th>
        </tr>
    </thead>
    <tbody>
        @for (int row = 0; row < Model.GetUpperBound(0); row++)
        {
            <tr>
                @for (int column = 0; column < Model.GetUpperBound(1); column++)
                {
                    if (column == 2)
                    {
                        <td><a href="@Model[row, column]">Link</a></td>
                    }
                    else
                    {
                        <td>@Model[row, column]</td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
